.btn {
    background-color: #2F2F2F;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    &_rounded {
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        border-radius: 20px;
        padding: 11px 15px 15px 15px;
        text-align: center;
        border: none;
    }
    &_examples {
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        border-radius: 20px;
        padding: 11px 15px 15px 15px;
        text-align: center;
        border: none;
        margin-top: 32px;
        float: right;
    }
    &_join {
        margin-top: 48px;
        padding: 12px 40px 16px;
    }
    &_colections {
        padding: 12px 40px 16px;
        margin-top: 67px;
    }
}