.promo {
    &__wrapper {
        display: flex;
    }
    &__carousel {
        &_slide {
            .slide__wrapper {
                display: flex;
                align-items: center;
            }
        }
    }
    &__left {
        
        .subtitle {
            color: #82CBAC;
            font-weight: 400;
            font-size: 13px;
            line-height: 14px;
        }
        .descr {
            color: #2F2F2F;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            margin-top: 25px;
        }
    }

    &__left, &__right {
        width: 50%;
    }
}