.promo {
    &__wrapper {
        display: flex;
    }
    &__left {
        margin: 180px 0 310px 0;
        .subtitle {
            color: #82CBAC;
            font-weight: 400;
            font-size: 13px;
            line-height: 14px;
        }
        .descr {
            color: #2F2F2F;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
            margin-top: 25px;
        }
    }
}